@import-normalize;

// variables & fonts
$md: 768;
$lg: 992;
$xl: 1400;

:root {
  --color-azure: #00a0e9;
  --color-blue: #163c91;
  --color-deepBlue: #011a81;
  --color-black: #000;
  --color-darkGrey: #2c3042;
  --color-lightDarkGrey: #64666b;
  --color-lightGrey: #6a6d7c;
  --color-lighterGrey: #f6f6f6;
  --color-white: #fff;
}

* {
  color: var(--color-white);
  font-family: "Fira Sans", sans-serif;
}

// layout
html {
  font-size: 16px;
  scroll-behavior: smooth;
  @media screen and (min-width: #{$xl}px) {
    scroll-snap-type: y mandatory;
  }
}
body {
  background-color: var(--color-black);
  margin: 0;
}
nobr,
em,
sup {
  color: inherit;
}

// flexbox
.d-flex {
  display: flex;
}
.row-column-reverse {
  flex-direction: column-reverse !important;
}
.row-xl-reverse {
  @media screen and (min-width: #{$xl}px) {
    flex-direction: row-reverse !important;
  }
}

// display
.d-none {
  display: none;
}
.d-xs-none {
  @media screen and (max-width: calc(#{$md}px - 1px)) {
    display: none;
  }
}
.d-md-block {
  @media screen and (min-width: #{$md}px) {
    display: block;
  }
}
.d-md-inline-block {
  @media screen and (min-width: #{$md}px) {
    display: inline-block;
  }
}
.d-md-none {
  @media screen and (min-width: #{$md}px) {
    display: none;
  }
}
.d-lg-none {
  @media screen and (min-width: #{$lg}px) {
    display: none;
  }
}
.d-lg-block {
  @media screen and (min-width: #{$lg}px) {
    display: block;
  }
}
.d-xl-block {
  @media screen and (min-width: #{$xl}px) {
    display: block;
  }
}
.d-xl-none {
  @media screen and (min-width: #{$xl}px) {
    display: none;
  }
}

// animations
.fadeIn {
  animation: fadeInAnimation .275s linear;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
